<%= form_for(@member, url:update_password_member_path) do |f| %>
  <div class="form-group">
    <%= f.label :password, "Change password", class: "col-form-label" %>
    <%= f.password_field :password, class: "form-control", placeholder: "New Password" %>
  </div>

  <div class="actions">
    <%= f.submit "Save New Password", class: "btn btn-primary" %>
  </div>
<% end %>