// Place all the styles related to the Locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dropzone.dz-clickable {
  cursor: pointer;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;

  & .dz-message {
    font-weight: 500;
  }
}

#text-center {
  padding: 8px;
}

.dates-form {
  margin-right: 10px;
}

section {
  margin: 4rem 0;
  
  &#profile {
    background-color: #f3f3f3;
    padding: 4rem;

    img {
      height: 10rem;
    }
  }
}


// Always set the map height explicitly to define the size of the div
// element that contains the map.
#map {
  min-width: 300px;
  height: 500px;
}
/* Makes the page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}